body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(20,20,121,1) 85%, rgba(33,119,152,1) 100%); 
    color:azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
#title {
    font-family:Audiowide, cursive;
    text-align:center;
    font-size:2vw;

}
.title--name {
    text-shadow: 3px 4px cornflowerblue;
    font-size:7vw;
}
.title--avatar:hover {
    animation: meow 0.2s;
}
#content {
    display:flex;
    flex-direction:column;
    padding:0 5vw;
}
#content div {
    padding:2vh 0 0 0;
}
.content--heading {
    text-align:center;
}
.content--heading:before, .content--heading:after {
    content:"";
    position:absolute;
    width:50vw;
    height:5px;
    border-top:1px solid cornflowerblue;
    border-bottom:1px solid cornflowerblue;
}
.content--heading:before {
    margin: 10px 0 0 -52vw;
}
.content--heading:after {
    margin: 10px 0 0 2vw;
}
.content--portfolio img {
    max-width:100%;
    display:block;
    height:auto;
    margin:auto;
    padding:0 0 2vh 0;
}
.content--xpbars {
    list-style:none;
    padding:0px;
}
.content--xpbars li {
    margin-bottom:20px;
    position:relative;
}
.content--xpbars li:after {
    background:cornflowerblue;
    display:block;
    position:absolute;
    bottom:-8px;
    height:5px;
    width:100%;
    content:"";
}
.content--xpbars li span {
    background:lightcyan;
    display:block;
    position:absolute;
    bottom:-8px;
    left:0;
    height:5px;
    width:inherit;
    content:"";
    z-index:1;
    -webkit-animation: xpbars 2s;
    -moz-animation: xpbars 2s;
    animation: xpbars 2s;
}
footer {
    text-align:center;
}

@-webkit-keyframes xpbars {
    0% { width: 0; }
}
@-moz-keyframes xpbars {
    0% { width: 0; }
}
@keyframes xpbars {
    0% { width: 0; }
}  

/* Meow animation goes here when I make the meow. */

/* The two column version doesn't quite work right yet.  I will tinker with it later, or convert to grid. */

/* @media screen and (min-width:768px) {
    #content {
        flex-direction:row;
        flex-wrap: wrap; 
        align-content: space-around;
        justify-content: center;
    }
    #content div {
        flex:0 40vw;
        margin:0 1vw;
        padding:0;

    }
    .content--heading:before, .content--heading:after {
        content:"";
        position:absolute;
        width:12vw;
        height:5px;
        border-top:1px solid cornflowerblue;
        border-bottom:1px solid cornflowerblue;
    }
    .content--heading:before {
        margin: 10px 0 0 -14vw;
    }
    .content--heading:after {
        margin: 10px 0 0 2vw;
    }
} */