body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(2,0,36) 0%, rgb(20,20,121) 85%, rgb(33,119,152) 100%); 
    background-image:url("Astronaut\ Cat.png");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
}
progress {
    /* Remove the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background:grey;
    width: 100%;
    height: 15px;
    color:rebeccapurple;
}
progress[value]::-moz-progress-bar { 
    background: linear-gradient(90deg,rgb(255, 83, 212) 0%, rgb(114, 10, 146) 100%);
}
progress[value]::-webkit-progress-value { 
    background: linear-gradient(90deg,rgb(255, 83, 212) 0%, rgb(114, 10, 146) 100%);
}
progress[value]::-webkit-progress-bar { 
    /* Because webkit gotta be special */
    background:grey;
}
.progress-bar {
    background-color: grey;
    width: 100%;
    height: 15px;
    position: relative;
    display: block;
}
.progress-bar > span {
    background-color: #ff53d4;
    display: block;
}
#title {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:90vh;
}
#title h1{
    text-align:center;
    font-size:3vw;
    text-shadow:
       2px 2px 0 rgb(172, 17, 172),
     -1px -1px 0 rgb(166, 54, 231),  
      1px -1px 0 rgb(166, 54, 231),
      -1px 1px 0 rgb(166, 54, 231),
       1px 1px 0 rgb(166, 54, 231);
}
.title--name {
    font-family:"Geostar Fill", 'Courier New', Courier, monospace;
    font-size:6vw;
    text-shadow:
    3px 3px 0 rgb(172, 17, 172),
  -1px -1px 0 rgb(166, 54, 231),  
   1px -1px 0 rgb(166, 54, 231),
   -1px 1px 0 rgb(166, 54, 231),
    1px 1px 0 rgb(166, 54, 231)
}
.divider {
    position: relative;
    text-align: center;
    padding-bottom: 10rem;
    margin-bottom: -5.3rem;
    height: 0px;
    width: 100%;
    z-index:-1;
}
.divider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50.1%;
    background: white;
    -ms-transform: skew(0deg, 10deg);
    -webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    box-shadow: 
        0 -1.5rem rgb(255, 83, 212),
        0 -2.5rem rgb(172, 17, 172),
        0 -3rem rgb(114, 10, 146);
}
.divider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50.1%;
    background: white;
    -ms-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    box-shadow: 
        0 -1.5rem rgb(255, 83, 212),
        0 -2.5rem rgb(172, 17, 172),
        0 -3rem rgb(114, 10, 146);
}
.content {
    background:linear-gradient(180deg, #ffffffff 0%, #ffffffff 40%, #ffffffbb 100%);
    color:rebeccapurple;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-top:-5rem;
    margin-bottom:12rem;
    padding-bottom:2.3rem;
    position:relative;
}
.content:after {
    border-bottom: 9vw solid #ffffffbb;
    border-left: 49.4vw solid transparent;
    border-right: 49.4vw solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top:100%;
    width: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.content > div {
    margin:1vw 5vw;
}
#reflection, #portfolio {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    transform: none;
}
#reflection p, #reflection h3,
#portfolio p, #portfolio h3 {
    margin:1vw;
}
#portfolio {
    height:max-content;
    align-items: center;
}
#portfolio img {
    width:100%;
    max-height:600px; 
}

@media only screen and (min-width: 768px) {
    h3 {
        margin-top:-2rem;
    }
    .content {
        flex-direction:row;
    }
    .content > div {
        flex-basis:45vw;
        margin:1vw;
    }
    .content > div:nth-child(even) {
        -ms-transform: skew(0deg, -10deg);
        -webkit-transform: skew(0deg, -10deg);
        transform: skew(0deg, -10deg);
    }
    .content > div:nth-child(odd) {
        -ms-transform: skew(0deg, 10deg);
        -webkit-transform: skew(0deg, 10deg);
        transform: skew(0deg, 10deg);
    }
    #reflection, #portfolio {
        flex-basis:95vw;
        flex-direction:row;
    }
    #reflection p, #reflection h3,
    #portfolio p, #portfolio h3 {
        flex-basis:45vw;
    }
    #reflection h3, #portfolio h3 {
        margin-top:-2rem;
    }
    #reflection p:nth-child(even), #reflection h3:nth-child(even),
    #portfolio p:nth-child(even), #portfolio h3:nth-child(even) {
        -ms-transform: skew(0deg, -10deg);
        -webkit-transform: skew(0deg, -10deg);
        transform: skew(0deg, -10deg);
    }
    #reflection p:nth-child(odd), #reflection h3:nth-child(odd),
    #portfolio p:nth-child(odd), #portfolio h3:nth-child(odd) {
        -ms-transform: skew(0deg, 10deg);
        -webkit-transform: skew(0deg, 10deg);
        transform: skew(0deg, 10deg);
    }
    #portfolio {
        align-items: flex-start;
    }
}
